body {
    background-color: #3089b3;
    margin: 0;
    padding: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
    list-style-type: none;
  }
  ul.header li {
    list-style-type: none;
    text-align: center;
    width: 60%;
    margin: 0;
    padding: 0;
  }
  ul.header {
    background-color: #111;
    height: 100vh;
    max-width: 10%;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    width: 100%;
  }
  .content {
    background-color: #FFF;
    padding: 1rem 5.5rem 1rem 8rem;
  }
  .content h2 {
    padding: 0;
    margin: 2rem;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #0099FF;
  }
  .center {
    text-align: center;
  }
  .hobby-list li {
    position: relative;
    right: 1rem;
    font-size: 1.2rem;
    color: #0099FF;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }